.card {
	// to make the rotation look like it moves towards you
	// you need to add 'perspective' to the parent element
	// of the element you want to rotate. so card is the parent
	// and -front and -back are the element that turn
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	// card collapses when child set to absolute
	height: 60rem;

	&__side {
		height: 60rem;
		transition: all, 0.8s ease;
		position: absolute;
		top: 0;
		left: 0;
		// width collapses when set to absolute
		width: 100%;
		// dont want to see the reverse of the face
		backface-visibility: hidden;
		border-radius: 3px;
		overflow: hidden; // to stop the image higing the rounded corners
		// nice shadow for cards
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
		&--front {
			background-color: $color-white;
		}

		&--back {
			transform: rotateY(180deg);
			&-1 {
				background-image: linear-gradient(
					to right bottom,
					$color-secondary-light,
					$color-secondary-dark
				);
			}
			&-2 {
				background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
			}
			&-3 {
				background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
			}
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0deg);
	}
	// front side styling
	&__picture {
		background-size: cover;
		height: 23rem; // arrived at by experimentations
		background-blend-mode: screen; // new experimental feature
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		&--1 {
			background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
				url(../../img/nat-5.jpg);
		}
		&--2 {
			background-image: url(../../img/nat-5.jpg);
		}
		&--3 {
			background-image: url(../../img/nat-5.jpg);
		}
	}
	&__heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		color: $color-white;
		position: absolute;
		top: 12rem;
		right: 2rem;
		text-align: right;
		width: 75%; // breaks up the sentence
	}

	&__heading-span {
		padding: 1rem 1.5rem;
		// new properties for breaking up the title
		// it adds the padding to the edges of the breaks
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		&--1 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-secondary-light, 0.85),
				rgba($color-secondary-dark, 0.85)
			);
		}
	}

	&__details {
		padding: 3rem;
		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;
			li {
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;

				&:not(:last-child) {
					border-bottom: 1px solid $color-grey-dark-light-2;
				}
			}
		}
	}
}
