.form {
	&__group:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__input {
		font-size: 1.5rem;
		// 👇 otherwise it's get the browser default and not whats in copy
		// everyting else inherits
		font-family: inherit;
		color: inherit;
		padding: 1.5rem 2rem; // allways put a bit more on the sides for inputs
		border-radius: 2px;
		background-color: rgba($color-white, 0.5);
		border: none;
		border-bottom: 3px solid transparent; // offset the 3px shift that happens below
		width: 90%;
		display: block;

		&:focus {
			outline: none; // to take away the default blue line
			// 👇 add next two for screen readers as outline is none
			box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
			border-bottom: 3px solid $color-primary;
		}

		// chrome form valid gives us psudo classes to work with
		&:focus:invalid {
			border-bottom: 3px solid $color-secondary-dark;
		}

		&::-webkit-input-placeholder {
			color: $color-grey-dark-2;
		}
	}

	&__label {
		font-size: 1.2rem;
		font-style: 700;
		margin-left: 2rem;
		margin-top: 0.7rem;
		display: block;
		transition: all 0.3s;
	}

	// using the placeholder-shown pseudo class
	// '+' slelects the immediate sibling
	&__input:placeholder-shown + &__label {
		opacity: 0; // can be animated
		visibility: hidden; // cannot be animated
		transform: translateY(-4rem);
	}

	&__radio-group {
		width: 49%;
		display: inline-block;
	}

	&__radio-input {
		display: none;
	}

	&__radio-label {
		font-size: $default-font-size;
		cursor: pointer;
		position: relative;
		padding-left: 4.5rem;
	}

	&__radio-button {
		// the outside border
		height: 3rem;
		width: 3rem;
		border: 5px solid $color-primary;
		border-radius: 50%;
		display: inline-block; // only then do the above styles work
		position: absolute;
		top: -2;
		left: 0;

		&::after {
			// inside the circle
			content: "";
			height: 1.3rem;
			width: 1.3rem;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $color-primary;
			transition: opacity 0.2s;
			opacity: 0;
		}
	}

	&__radio-input:checked ~ &__radio-label &__radio-button:after {
		opacity: 1;
	}
}
