.story {
	width: 75%;
	margin: 0 auto;
	box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
	background-color: $color-white;
	border-radius: 3px;
	padding: 6rem;
	padding-left: 9rem;
	font-size: $default-font-size;
	transform: skewX(-12deg);

	// & * > {
	// wont work, right now you cant do multiple transform at same time
	// transform: skewX(12deg);
	// }

	&__shape {
		width: 15rem;
		height: 15rem;
		// border-radius: 50%;
		-webkit-clip-path: ellipse(50% at 50% 50%);
		clip-path: ellipse(50% at 50% 50%);
		float: left; // element must be floated for shapeoutside to work
		// controls how content will wrap around a floated element’s bounding-box
		// element must have fixed width and height
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		// best way to add space with a floated element is with a transform
		transform: translateX(-3rem) skewX(12deg);
	}

	&__img {
		height: 100%;
	}

	&__text {
		transform: skewX(12deg);
	}
}
