.section-about {
	background-color: $color-grey-dark-light-1;
	padding: 25rem 0;
	// move up the entire section to place under the green slant
	margin-top: -20vh;
}

.section-features {
	padding: 20rem 0;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(../img/nat-4.jpg);
	background-size: cover;
	// move the section up
	margin-top: -10rem;
	// an alternative to clip path in crating
	transform: skewY(-7deg);
	// the direct child selector
	& > * {
		transform: skewY(7deg);
	}
}

.section-tours {
	background-color: $color-grey-dark-light-1;
	padding: 25rem 0 15rem 0;
	margin-top: -10rem;
}

.section-stories {
	position: relative;
	padding: 15rem 0;
}

.section-book {
	padding: 15rem 0;
	background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
	// a different way of achieving a clipped section using gradient rather that
	// skew or with clip-path
	// 'transparent' is also a valid css color
	background-image: linear-gradient(
			105deg,
			rgba($color-white, 0.9) 0%,
			rgba($color-white, 0.9) 50%,
			transparent 50%
		),
		url(../img/nat-10.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
	height: 50rem;

	&__form {
		width: 50%;
		padding: 6rem;
	}
}
