.features {
	background-color: $color-grey-light-2;
	grid-column: center-start / center-end;
	// make this grid item into a grid container
	// sub-grids are not available yet
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	// by not defining the rows we create an implicit grid
	// which is ok, the dotted lines in ff-dev tools show it's implicit
}
