.gallery {
	background-color: $color-grey-light-1;
	grid-column: full-start / full-end; // span the fill width

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(7, 5vw); // using the vw to maintain image aspect ratio

	&__img {
		object-fit: cover;
		width: 100%;
		// height: 100%;
	}
}
