.sidebar {
	background-color: $color-secondary;
	grid-column: sidebar-start / sidebar-end;
	grid-row: 1 / -1;
}

.nav-btn {
	border: none;
	border-radius: 0;

	background-color: #fff;
	height: 2px;
	width: 4.5rem;

	&::before,
	&::after {
		background-color: #fff;
		height: 2px;
		width: 4.5rem;
		content: ""; // this makes is visible
		display: block;
	}
}

// move up
&::before {
	transform: translateY(-1.5rem);
}

// move down
&::after {
	transform: translateY(1.5rem);
}
