.bio {
	&__photo {
		width: 12.8rem;
		border-radius: 50%;
		margin: 1.2rem;
		shape-outside: circle(50%);
		float: left;
	}

	&__copy {
		font-size: 1.8rem;
		text-align: justify;
	}

	p:not(:last-child) {
		margin-bottom: 1.6rem;
	}
}
