.header {
	display: grid;
	height: 38.4rem;
	justify-items: center;
	align-items: center;

	&__intro {
		text-align: center;
		align-self: flex-end;
		z-index: 1;
		font-size: 3rem;
	}

	&__contacts {
		align-self: center;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 4.8rem;
		justify-items: center;
	}
}

.link {
	&__icon {
		width: 3.2rem;
		height: 3.2rem;
		fill: $color-text-2;
	}

	&__icon:hover {
		fill: $color-secondary-4;
		cursor: pointer;
	}
}
