.floating-title {
	font-family: $font-display;
	text-align: center;
	position: absolute;
	right: 50%;
	top: 5%;
	font-weight: bold;
	font-size: 7.2rem;
	text-align: center;
	transform: translate(50%, 50%);
	color: $color-primary-1;
}
